<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <withJansi>false</withJansi>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{15} - %method) - %msg %n</pattern>
    </encoder>
  </appender>

  <!--<appender name="ASYNC" class="net.logstash.logback.appender.LoggingEventAsyncDisruptorAppender">-->
  <!--<appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">-->
  <!--<destination>localhost:5000</destination>-->

  <!--<reconnectionDelay>30 second</reconnectionDelay>-->
  <!--<writeBufferSize>8192</writeBufferSize>-->

  <!--<encoder class="net.logstash.logback.encoder.LogstashEncoder">-->
  <!--<customFields>{"appname":"service-order-management"}</customFields>-->
  <!--</encoder>-->
  <!--</appender>-->
  <!--</appender>-->

  <root level="INFO">
    <appender-ref ref="STDOUT"/>

    <!--<appender-ref ref="ASYNC"/>-->
  </root>
</configuration>
